/* remove button style that is in html */
button {
    border: none;
    background: none;
    /* color: #A7A5A2; */
}

/* buttons */
.custom-file-label,
.button {
    display: inline-flex;
    height: 44px;
    padding: 6px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    background-color: var(--color-gray-3);
    color: var(--color-white);

    width: 100%;

    cursor: pointer;
}

.custom-file-label:hover,
.button:hover {
    background-color: var(--color-gray-2);
}

#exportCanvas {
    background-color: var(--color-white);
    color: var(--color-gray-4);
}

#exportCanvas:hover {
    background-color: var(--color-gray-4);
    color: var(--color-white);
}

.dropdown {
    background-color: var(--color-gray-1);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>') no-repeat right 10px center;
    /* Arrow positioning */
    background-size: 16px;
    /* Size of the custom arrow */
    padding-right: 40px;

    border: 1px solid var(--color-gray-2);

}