* {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 16px;
}


h4 {
    font-size: 16px;
    color: var(--color-gray-1)
}

h5 {
    font-size: 14px;
    color: var(--color-gray-1)
}

.tooltip .tooltiptext {
    font-size: 16px;
    color: var(--color-white);
}