.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* Ensure overflow is visible */
}

.tooltiptext {
    visibility: hidden;

    width: 300px;
    background-color: var(--color-tooltip);
    color: var(--color-white);
    text-align: left;
    border-radius: 4px;
    padding: 8px 10px;

    position: absolute;
    z-index: 100;
    /* Position the tooltip above the icon */
    left: 50%;

    transform: translate(-50%, calc(-100% - 8px));
    transform-origin: bottom center;
}

/* .tooltip:hover+.tooltiptext {
    visibility: visible;
    opacity: 1;
} */


.info-icon svg {
    /* Set the default color of the SVG icon */
    width: 16px;
    height: 16px;
}